/* https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Media_objects */
.mbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  /* margin-bottom: 1rem; */
  max-width: var(--content-width);
  padding: 0 0 0 var(--gap-half);
}
.mbox:last-child {
  margin-bottom: 0;
}

.mbox-img {
  align-self: start;
  background-color: var(--bgcolor-textinput);
  border-radius: var(--profileimg-size);
  flex-basis: var(--profileimg-size);
  height: var(--profileimg-size);
  margin-right: var(--gap-half);
  max-height: var(--profileimg-size);
  max-width: var(--profileimg-size);
  overflow: clip;
  position: relative;
  z-index: 2;
}

.mbox-img canvas,
.mbox-img img {
  display: block;
}

.mbox-updated-contact .mbox-img,
.mbox-recommend-server .mbox-img {
  --profileimg-size: 2rem;
  margin-left: 2rem;
}

.mbox-body {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  word-break: break-word;
}
.mbox-body div a {
  text-decoration: underline;
}
.mbox-img + .mbox-body {
  flex-basis: calc(100% - var(--profileimg-size) - var(--gap-half));
}

.mbox-header {
  margin-top: 0;
}
.mbox-header a {
  font-size: var(--font-small);
}

.mbox-kind0-name {
  color: var(--color);
}

.mbox-updated-contact .mbox-body,
.mbox-recommend-server .mbox-body {
  display: block;
  font-size: var(--font-small);
  overflow: scroll;
}

.mbox-updated-contact .mbox-header,
.mbox-recommend-server .mbox-header {
  display: inline;
}

.mbox-updated-contact {
  padding: 0 0 1rem 0;
  margin: 0;
}

.mbox {
  overflow: clip;
}
.mbox .mbox {
  max-width: 100%;
  overflow: visible;
  padding: 0;
  position: relative;
}
.mbox .buttons {
  margin-top: .2rem;
}
.mbox button:not(#publish) {
  --bg-color: none;
  --border-color: none;
}
.mbox button img + small {
  padding-left: .5rem;
}
.mbox-replies {
  box-sizing: border-box;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
}
.mbox-replies .mbox-replies {
  --reply-padding: 3rem;
  margin-bottom: 2px;
  padding: 0 0 0 var(--reply-padding);
}
.mbox-replies .mbox-replies .mbox-replies {
  --reply-padding: 0;
}
/* direct replies */
.mbox-replies .mbox-replies .mbox::before {
  background: none;
  border-color: var(--bgcolor-inactive);;
  border-style: solid;
  border-width: 0 0 .2rem .2rem;
  content: "";
  display: block;
  height: var(--profileimg-size-quarter);
  left: calc(-1 * var(--profileimg-size-quarter));
  margin-left: -.1rem;
  position: absolute;
  top: 0;
  width: .8rem;
}
.mbox-replies .mbox-replies .mbox-replies .mbox::before {
  content: none;
  display: none;
}

/* .mbox-replies .mbox-replies .mbox-replies .mbox::after, */
.mbox-replies .mbox-replies .mbox-replies::before {
  content: none;
}

.mbox-body,
.mbox-has-replies:not(:last-child) {
  position: relative;
}
.mbox-has-replies > .mbox-body::after,
.mbox-replies .mbox-has-replies:not(:last-child)::after,
.mbox-has-replies:not(:last-child) .mbox > .mbox-body::after,
.mbox-has-replies .mbox:not(:last-child) > .mbox-body::after {
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: .2rem;
  width: .2rem;
}

.mbox-body::after,
.mbox-has-replies::after {
  background: var(--bgcolor-inactive);
}
.mbox-has-replies .mbox:not(:last-child) > .mbox-body::after {
  left: -33px;
}
.mbox-has-replies .mbox-has-replies .mbox:not(:last-child) > .mbox-body::after {
  left: -36px;
}
.mbox-has-replies > .mbox-body::after {
  left: -33px;
}
.mbox-has-replies:not(:last-child) .mbox > .mbox-body::after {
  left: -33px;
}
.mbox-has-replies:not(:last-child)::after {
  left: 18px;
}

.mbox-replies .mbox-has-replies:not(:last-child)::after {
  left: 19px;
}
.mbox-replies .mbox-replies .mbox-has-replies:not(:last-child)::after {
  left: -11px;
}

.mbox-replies .mbox-replies .mbox-has-replies > .mbox-body::after {
  left: -18px;
}
.mbox-has-replies .mbox-has-replies .mbox-has-replies .mbox:not(:last-child) > .mbox-body::after {
  left: -18px;
}
.mbox-replies .mbox:not(.mbox-has-replies):last-child > .mbox-body::after {
  content: none;
  display: none;
}

.mbox-replies .mbox-replies .mbox-has-replies.mbox:not(:last-child) > .mbox-body::after {
  left: -18px;
}


.mbox-replies .mbox .mbox .mbox-img {
  --profileimg-size: 2rem;
  left: -.2rem;
  margin-right: .5rem;
  margin-top: .2rem;
  position: relative;
}

.mbox-replies .mbox .mbox .mbox-body {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-small);
  padding-bottom: var(--gap-half);
  padding-top: var(--gap-eight);
}
.mbox-replies .mbox .mbox .mbox-header a:last-of-type::after {
  content: " ";
  display: inline-block;
  padding-right: var(--gap-half);
}
.mbox-replies .mbox .mbox .buttons {
  display: none;
}

[data-append]::after {
  color: var(--color-accent);
  content: "…";
}

.preview-loaded a {
  background-color: var(--bgcolor-textinput);
  border: 1px solid var(--bgcolor-inactive);
  color: var(--color);
  display: flex;
  flex-direction: column;
  margin: var(--gap) 0 0 0;
  max-width: 48rem;
  padding: 1.5rem 1.8rem;
  text-decoration: none;
}
.preview-loaded a:visited {
  color: inherit;
}

.preview-title {
  font-size: inherit;
  margin: 0;
}

.preview-descr {
  font-size: var(--font-small);
}

.preview-image {
  background-color: rgba(72, 63, 63, 0.07);
  margin-bottom: var(--gap);
  max-height: 30vh;
  object-fit: contain;
}

.preview-image-only {
  background-color: var(--bgcolor-textinput);
  border: 1px solid var(--bgcolor-inactive);
  margin: var(--gap) 0 0 0;
  max-width: 48rem;
  padding: 1.5rem 1.8rem;
  width: 100%;
}
